<h1>📃 {{ typeLog }}</h1>

<p>Vous trouverez les logs pour le/la {{ typeLog | lower }} du {{ "now"|date("d-m-Y", "Europe/Paris") }} à {{ "now"|date("H:i", "Europe/Paris") }} en pièces-jointes !</p>

<p>Bon courage !</p>